<%- include('header', {person: customer}); %>
	<div class="col-md-7 heading-section ftco-animate text-center">
		<h2 class="mb-4">Hot Pizza Meals</h2>
	</div>

	<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">
		<div class="slider-item">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text align-items-center" data-scrollax-parent="true">

					<div class="col-md-6 col-sm-12 ftco-animate" style="padding-right: 50px;">
						<img src="<%= item.image %>" class="img-fluid" alt="<%= item.name %>">
					</div>
					<div class="col-md-6 ftco-animate" style="padding-left: 20px;">
						<h1 class="mb-4" style="text-align: center; font-size: 50px; color: green;">
							<%= item.name %>
						</h1><br>
						<h3 class="mb-4 mb-md-5" style="text-align: center;"><i>
								<%= item.description %>
							</i></h3>
						<h2 class="mb-4 mb-md-5" style="text-align: center;">₹ <%= item.price %>.00</h3>

								<form action="/orders/<%=item.title%>/<%= customer._id %>" method="POST">
									<button type="submit"
										style="font-size: large; margin-right: 200px; padding-left: 40px; padding-right: 40px; "
										class="ml-2 btn btn-white btn-outline-white">Add to cart</button>
								</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('footer'); %>